:root {
  --color-primary: #0B5D40;         
  --color-primary-dark: #7A4E2D;   
  --color-accent: #c4a484;          
  --color-bg: #F3F5F4;              
  --color-text: #333;               
  --color-success: #c4a484;         
  --color-error: #3A6EA5;
}
